<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">
                    <i class="nav-icon icon-home"></i> Սկիզբ
                </a>
            </li>
            <li class="nav-title">Ստորագրահավաք</li>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="nav-icon icon-note"></i> Միանալ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/check">
                    <i class="nav-icon icon-key"></i> Ստուգում
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.ekeng.am/hy/eid_auth">
                    <i class="nav-icon icon-info"></i> Օգնություն
                </a>
            </li>
            @*<li class="nav-title">Կառավարման մենյու</li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-check"></i> Մենյու1
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="/base/breadcrumb">
                        <i class="nav-icon icon-puzzle"></i> Մենյու1-1
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/cards">
                        <i class="nav-icon icon-puzzle"></i> Մենյոի1-2
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/charts">
                <i class="nav-icon icon-pie-chart"></i> Մենյու2
            </a>
        </li>*@
            <li class="nav-item mt-auto">
                <a class="nav-link nav-link-success" href="https://www.elections.am/" target="_top">
                    <i class="nav-icon icon-globe"></i>ԿԸՀ կայք
                </a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>