<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                </a>
            </li>
            <li class="nav-title">Ստորագրահավաք</li>
            <li class="nav-item">
                <a class="nav-link" href="/colors">
                    <i class="nav-icon icon-drop"></i> Օգնություն
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/typography">
                    <i class="nav-icon icon-pencil"></i> Մենյու2
                </a>
            </li>
            <li class="nav-title">Ադմինիստրատիվ</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-puzzle"></i> Մենյու1
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/base/breadcrumb">
                            <i class="nav-icon icon-puzzle"></i> Մենյու1-1
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/cards">
                            <i class="nav-icon icon-puzzle"></i> Մենյոի1-2
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/charts">
                    <i class="nav-icon icon-pie-chart"></i> Մենյու2
                </a>
            </li>
            <li class="nav-item mt-auto">
                <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
                    <i class="nav-icon icon-cloud-download"></i> Download CoreUI
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
                    <i class="nav-icon icon-layers"></i> Try CoreUI
                    <strong>PRO</strong>
                </a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>